**/*.png
**/*.svg
**/*.ttf
**/*.woff
**/*.woff2
**/*.secret
**/*.md
**/*.webm
.DS_Store

node_modules

dist/*
prod/*
build/*
bundle/*

yarn.lock
Podfile.lock
build.gradle

.gitsecret/*
*.styl
.github/*

**/*.proto

.eslintignore
.prettierignore

package.json
tsconfig.json
